[submodule "apps/web"]
	path = apps/web
	url = https://github.com/IngenuityAI/web.git
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/IngenuityAI/api.git
[submodule "infra"]
	path = infra
	url = https://github.com/IngenuityAI/infra.git
[submodule "apps/worker"]
	path = apps/worker
	url = https://github.com/IngenuityAI/worker.git
[submodule "packages/database"]
	path = packages/database
	url = https://github.com/IngenuityAI/database.git
